<div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                <span>
                    <fa-icon icon="home"></fa-icon>
                    <!--<span>Home</span>-->
                </span>
            </a>
        </li>
    </ul>
</div>
