<div>
    <h2 id="page-heading">
        <span>Payments File Uploads</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-payments-file-upload" [routerLink]="['/payments-file-upload/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down">
            Create a new Payments File Upload
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="paymentsFileUploads?.length === 0">
        <span>No paymentsFileUploads found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="paymentsFileUploads && paymentsFileUploads.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span>Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fileName"><span>File Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="periodFrom"><span>Period From</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="periodTo"><span>Period To</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paymentsFileTypeId"><span>Payments File Type Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataFile"><span>Data File</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="uploadSuccessful"><span>Upload Successful</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="uploadProcessed"><span>Upload Processed</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="uploadToken"><span>Upload Token</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let paymentsFileUpload of paymentsFileUploads ;trackBy: trackId">
                    <td><a [routerLink]="['/payments-file-upload', paymentsFileUpload.id, 'view']">{{ paymentsFileUpload.id }}</a></td>
                    <td>{{ paymentsFileUpload.description }}</td>
                    <td>{{ paymentsFileUpload.fileName }}</td>
                    <td>{{ paymentsFileUpload.periodFrom | date:'mediumDate' }}</td>
                    <td>{{ paymentsFileUpload.periodTo | date:'mediumDate' }}</td>
                    <td>{{ paymentsFileUpload.paymentsFileTypeId }}</td>
                    <td>
                        <a *ngIf="paymentsFileUpload.dataFile" (click)="openFile(paymentsFileUpload.dataFileContentType, paymentsFileUpload.dataFile)">open</a>
                        <span *ngIf="paymentsFileUpload.dataFile">{{ paymentsFileUpload.dataFileContentType }}, {{ byteSize(paymentsFileUpload.dataFile) }}</span>
                    </td>
                    <td>{{ paymentsFileUpload.uploadSuccessful }}</td>
                    <td>{{ paymentsFileUpload.uploadProcessed }}</td>
                    <td>{{ paymentsFileUpload.uploadToken }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/payments-file-upload', paymentsFileUpload.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/payments-file-upload', paymentsFileUpload.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(paymentsFileUpload)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="paymentsFileUploads && paymentsFileUploads.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
