<!--

    Payment Records - Payment records is part of the ERP System
    Copyright © 2021 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-payments-file-type-heading">Create or edit a Payments File Type</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_paymentsFileTypeName">Payments File Type Name</label>
                    <input type="text" class="form-control" name="paymentsFileTypeName" id="field_paymentsFileTypeName"
                           formControlName="paymentsFileTypeName"/>
                    <div *ngIf="editForm.get('paymentsFileTypeName')!.invalid && (editForm.get('paymentsFileTypeName')!.dirty || editForm.get('paymentsFileTypeName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('paymentsFileTypeName')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_paymentsFileMediumType">Payments File Medium Type</label>
                    <select class="form-control" name="paymentsFileMediumType" formControlName="paymentsFileMediumType" id="field_paymentsFileMediumType">
                        <option value="EXCEL">EXCEL</option>
                        <option value="EXCEL_XLS">EXCEL_XLS</option>
                        <option value="EXCEL_XLSX">EXCEL_XLSX</option>
                        <option value="EXCEL_XLSB">EXCEL_XLSB</option>
                        <option value="EXCEL_CSV">EXCEL_CSV</option>
                        <option value="EXCEL_XML">EXCEL_XML</option>
                        <option value="PDF">PDF</option>
                        <option value="POWERPOINT">POWERPOINT</option>
                        <option value="DOC">DOC</option>
                        <option value="TEXT">TEXT</option>
                        <option value="JSON">JSON</option>
                        <option value="HTML5">HTML5</option>
                    </select>
                    <div *ngIf="editForm.get('paymentsFileMediumType')!.invalid && (editForm.get('paymentsFileMediumType')!.dirty || editForm.get('paymentsFileMediumType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('paymentsFileMediumType')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_fileTemplate">File Template</label>
                    <div>
                        <div *ngIf="editForm.get('fileTemplate')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('fileTemplateContentType')!.value, editForm.get('fileTemplate')!.value)">open</a><br>
                            <span class="pull-left">{{ editForm.get('fileTemplateContentType')!.value }}, {{ byteSize(editForm.get('fileTemplate')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({fileTemplate: null});editForm.patchValue({fileTemplateContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_fileTemplate" (change)="setFileData($event, 'fileTemplate', false)"/>
                    </div>
                    <input type="hidden" class="form-control" name="fileTemplate" id="field_fileTemplate"
                           formControlName="fileTemplate"/>
                    <input type="hidden" class="form-control" name="fileTemplateContentType" id="field_fileTemplateContentType"
                           formControlName="fileTemplateContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_paymentsfileType">Paymentsfile Type</label>
                    <select class="form-control" name="paymentsfileType" formControlName="paymentsfileType" id="field_paymentsfileType">
                        <option value="CURRENCY_LIST">CURRENCY_LIST</option>
                        <option value="PAYMENTS_DATA">PAYMENTS_DATA</option>
                        <option value="PLACE_HOLDER">PLACE_HOLDER</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="field_placeholders">Placeholder</label>
                    <select class="form-control" id="field_placeholders" multiple name="placeholders" formControlName="placeholders">
                        <option [ngValue]="getSelected(editForm.get('placeholders')!.value, placeholderOption)" *ngFor="let placeholderOption of placeholders; trackBy: trackById">{{ placeholderOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
