<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="paymentsFileType">
            <h2><span>Payments File Type</span> {{ paymentsFileType.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Payments File Type Name</span></dt>
                <dd>
                    <span>{{ paymentsFileType.paymentsFileTypeName }}</span>
                </dd>
                <dt><span>Payments File Medium Type</span></dt>
                <dd>
                    <span>{{ paymentsFileType.paymentsFileMediumType }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ paymentsFileType.description }}</span>
                </dd>
                <dt><span>File Template</span></dt>
                <dd>
                    <div *ngIf="paymentsFileType.fileTemplate">
                        <a (click)="openFile(paymentsFileType.fileTemplateContentType, paymentsFileType.fileTemplate)">open</a>
                        {{ paymentsFileType.fileTemplateContentType }}, {{ byteSize(paymentsFileType.fileTemplate) }}
                    </div>
                </dd>
                <dt><span>Paymentsfile Type</span></dt>
                <dd>
                    <span>{{ paymentsFileType.paymentsfileType }}</span>
                </dd>
                <dt><span>Placeholder</span></dt>
                <dd>
                    <span *ngFor="let placeholder of paymentsFileType.placeholders; let last = last">
                        <a [routerLink]="['/placeholder', placeholder?.id, 'view']">{{ placeholder.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/payments-file-type', paymentsFileType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
